/venv/
/input/
/output/
/other_files/
/init_project_wells_jupyter/
/app/logs.log
.idea/
/app/local_parameters.py
/app/active_well_outline.py
.ipynb_checkpoints/
/images/
/decline_rate/
/jupyter
/data_for_maps
/*.png
/*.txt
/.*ipynb
__pycache__/
*.py[cod]
So_current + interference_all_points+fractures.ipynb
/app/water_cut/
/app/test.py
/memory
/app/gui/*.txt
/app/gui/icons/архив
/app/gui/архив
/*.spec
/build
/dist