##GDAL~=3.8.4
./wheels/GDAL-3.8.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
matplotlib~=3.9.1
numpy~=1.26.4
scipy~=1.14.0
loguru~=0.7.2
xlwings~=0.31.10
pandas~=2.2.2
openpyxl~=3.1.5
scikit-learn~=1.5.1
mpmath~=1.3.0
geopandas~=1.0.1
shapely~=2.0.5
voronoi-diagram-for-polygons~=0.1.6
tqdm~=4.67.0
alphashape~=1.3.1
xlrd~=2.0.1
rasterio~=1.4.3
pyqt6~=6.10.0
streamlit~=1.61.1
reservoir-maps==0.2.0
